In [78]:
import pandas as pd
import numpy as np
import ast
from sklearn.cluster import DBSCAN
from ast import literal_eval
import json
import csv

In [79]:
df1 = pd.read_csv('audiolyrics_vecter_final_0720.csv')
df2 = df1.drop("Unnamed: 0", axis = 1)
df2.head(10)

,track_id,audio_vector,lyrics_vector
0,000xQL6tZNLJzIrtIgxqSl,"[5.05697608e-01,1.44482636e+00,2.74840772e-01,...","[-0.01375247,-0.40608048,0.40581351,0.0454139,..."
1,00518PumkDdn560MsfLofT,"[4.21763748e-01,1.39691150e+00,3.11115861e-01,...","[-7.64776877e-02,-4.59797496e-01,1.41140302e-0..."
2,009ImBOrIUlWgla8U05RAC,"[1.61179543e-01,3.98339182e-01,1.86677352e-01,...","[-0.18104931,-0.47246411,0.13491175,0.08737353..."
3,00AJ22EiTqG74qdgHVKVDM,"[3.00435424e-01,9.14957762e-01,1.92792639e-01,...","[-0.02924433,-0.0005412,0.03182478,0.00927059,..."
4,00AlGnzeNVYmilww5OFUw8,"[4.26878363e-01,1.32919753e+00,2.73250163e-01,...","[-0.20881731,-0.40633695,0.23420081,-0.0116102..."
5,00BnfL75e8vHSGCmwUWbEk,"[7.04743803e-01,1.75978565e+00,2.93366253e-01,...","[7.67118021e-02,-3.98475011e-01,3.38390140e-02..."
6,00bvlMH8B6w5kDWZjNa05M,"[1.93669021e-01,7.64253438e-01,2.55924970e-01,...","[-2.18362452e-01,-5.67300941e-01,-1.35802645e-..."
7,00EQTISBxvGLzB36hiOYMd,"[3.17234546e-01,9.53515828e-01,2.12027341e-01,...","[-0.12928441,-0.43845142,0.32496093,0.24945222..."
8,00f9VGHfQhAHMCQ2bSjg3D,"[2.81038374e-01,8.63508999e-01,2.12356120e-01,...","[-0.26658124,-0.57827297,0.41657594,-0.0650521..."
9,00GNc5ebF0onJaDp9Ey8bn,"[3.10484201e-01,1.03498864e+00,2.75978088e-01,...","[-0.10106129,-0.35067003,0.2371372,0.25461237,..."

In [80]:
len(df2)

11329

In [81]:
df2['vector'] = ''
df2.head()

,track_id,audio_vector,lyrics_vector,vector
0,000xQL6tZNLJzIrtIgxqSl,"[5.05697608e-01,1.44482636e+00,2.74840772e-01,...","[-0.01375247,-0.40608048,0.40581351,0.0454139,...",
1,00518PumkDdn560MsfLofT,"[4.21763748e-01,1.39691150e+00,3.11115861e-01,...","[-7.64776877e-02,-4.59797496e-01,1.41140302e-0...",
2,009ImBOrIUlWgla8U05RAC,"[1.61179543e-01,3.98339182e-01,1.86677352e-01,...","[-0.18104931,-0.47246411,0.13491175,0.08737353...",
3,00AJ22EiTqG74qdgHVKVDM,"[3.00435424e-01,9.14957762e-01,1.92792639e-01,...","[-0.02924433,-0.0005412,0.03182478,0.00927059,...",
4,00AlGnzeNVYmilww5OFUw8,"[4.26878363e-01,1.32919753e+00,2.73250163e-01,...","[-0.20881731,-0.40633695,0.23420081,-0.0116102...",

In [82]:
L = []

for i in range(0,len(df2)):
    a_vec = df2['audio_vector'][i]
    a_vec_L = ast.literal_eval(a_vec)

    l_vec = df2['lyrics_vector'][i]
    l_vec_L = ast.literal_eval(l_vec)
    
    df2['vector'][i] = a_vec_L + l_vec_L
    
    L.append(df2['vector'][i])

print(type(a_vec_L))
print(type(l_vec_L))
print(type(df2['vector'][0]))

<class 'list'>
<class 'list'>
<class 'list'>

In [83]:
len(L)

11329

In [84]:
df2.head()

,track_id,audio_vector,lyrics_vector,vector
0,000xQL6tZNLJzIrtIgxqSl,"[5.05697608e-01,1.44482636e+00,2.74840772e-01,...","[-0.01375247,-0.40608048,0.40581351,0.0454139,...","[0.505697608, 1.44482636, 0.274840772, 0.85332..."
1,00518PumkDdn560MsfLofT,"[4.21763748e-01,1.39691150e+00,3.11115861e-01,...","[-7.64776877e-02,-4.59797496e-01,1.41140302e-0...","[0.421763748, 1.3969115, 0.311115861, 0.919776..."
2,009ImBOrIUlWgla8U05RAC,"[1.61179543e-01,3.98339182e-01,1.86677352e-01,...","[-0.18104931,-0.47246411,0.13491175,0.08737353...","[0.161179543, 0.398339182, 0.186677352, 0.3131..."
3,00AJ22EiTqG74qdgHVKVDM,"[3.00435424e-01,9.14957762e-01,1.92792639e-01,...","[-0.02924433,-0.0005412,0.03182478,0.00927059,...","[0.300435424, 0.914957762, 0.192792639, 0.5927..."
4,00AlGnzeNVYmilww5OFUw8,"[4.26878363e-01,1.32919753e+00,2.73250163e-01,...","[-0.20881731,-0.40633695,0.23420081,-0.0116102...","[0.426878363, 1.32919753, 0.273250163, 0.84752..."

In [85]:
print(type(df2['vector'][0]))
print(len(df2['vector'][0]))

<class 'list'>
348

In [86]:
clustering = DBSCAN(eps=3, min_samples=2).fit(L)
clustering.labels_

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [87]:
clustering

DBSCAN(algorithm='auto', eps=3, leaf_size=30, metric='euclidean',
    metric_params=None, min_samples=2, n_jobs=None, p=None)

In [112]:
labels = clustering.labels_
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
print('Estimated number of clusters: %d' % n_clusters_)
n_noise_ = list(labels).count(-1)
print('Estimated number of noise points: %d' % n_noise_)

Estimated number of clusters: 9
Estimated number of noise points: 71

In [91]:
#抓取最近20首歌曲
record_df = pd.read_csv('Q Learning data_0721.csv')
record_df = record_df.drop("Unnamed: 0", axis = 1)
record_df

                  track_id  times
0   000xQL6tZNLJzIrtIgxqSl      1
1   00518PumkDdn560MsfLofT      3
2   009ImBOrIUlWgla8U05RAC      2
3   00AJ22EiTqG74qdgHVKVDM      4
4   00AlGnzeNVYmilww5OFUw8      3
5   00BnfL75e8vHSGCmwUWbEk     10
6   00bvlMH8B6w5kDWZjNa05M     12
7   00EQTISBxvGLzB36hiOYMd     13
8   00f9VGHfQhAHMCQ2bSjg3D     11
9   00GNc5ebF0onJaDp9Ey8bn     12
10  00J6muo7cpXzgQxLNIDC8O     28
11  00JA27dAnIPXljobCwtS36     29
12  00jXDm9BLNZdf2QC3Br0r7     30
13  00Mb3DuaIH1kjrwOku9CGU     30
14  00NAQYOP4AmWR549nnYJZu     29
15  00nKdBKPs0F7nJ0xzWbccg     18
16  00NtVG757yjm3hFVbuJX2Q     19
17  00RYw42tKwXecTaVay3BKl     20
18  00SbVevsdFCgVm4IrSbuVJ     19
19  00Tv62iZ42zDjrWYu8Rxjp     22

In [94]:
#挑選20首中聽超輟28秒的歌曲
record_L = []
for num in range(len(record_df)):
    t = record_df['times'][num]
    if t >= 28:
        track = record_df['track_id'][num]
        record_L.append(track)
print(record_L)

['00J6muo7cpXzgQxLNIDC8O', '00JA27dAnIPXljobCwtS36', '00jXDm9BLNZdf2QC3Br0r7', '00Mb3DuaIH1kjrwOku9CGU', '00NAQYOP4AmWR549nnYJZu']

In [107]:
m = '00J6muo7cpXzgQxLNIDC8O'
row = df2.loc[df2['track_id'] == m]
print(type(row))
row

<class 'pandas.core.frame.DataFrame'>

,track_id,audio_vector,lyrics_vector,vector
10,00J6muo7cpXzgQxLNIDC8O,"[1.46047473e-01,3.83050650e-01,1.80057213e-01,...","[-1.27998563e-01,-5.36800436e-01,-1.46231134e-...","[0.146047473, 0.38305065, 0.180057213, 0.28047..."

In [111]:
row.iat[0,3]
#type(row.iat[0,3])

348

In [138]:
#新增欄位放label的結果
#labels = -1代表離群點
df2['cluster'] = labels
df2.head()

,track_id,audio_vector,lyrics_vector,vector,cluster
0,000xQL6tZNLJzIrtIgxqSl,"[5.05697608e-01,1.44482636e+00,2.74840772e-01,...","[-0.01375247,-0.40608048,0.40581351,0.0454139,...","[0.505697608, 1.44482636, 0.274840772, 0.85332...",0
1,00518PumkDdn560MsfLofT,"[4.21763748e-01,1.39691150e+00,3.11115861e-01,...","[-7.64776877e-02,-4.59797496e-01,1.41140302e-0...","[0.421763748, 1.3969115, 0.311115861, 0.919776...",0
2,009ImBOrIUlWgla8U05RAC,"[1.61179543e-01,3.98339182e-01,1.86677352e-01,...","[-0.18104931,-0.47246411,0.13491175,0.08737353...","[0.161179543, 0.398339182, 0.186677352, 0.3131...",0
3,00AJ22EiTqG74qdgHVKVDM,"[3.00435424e-01,9.14957762e-01,1.92792639e-01,...","[-0.02924433,-0.0005412,0.03182478,0.00927059,...","[0.300435424, 0.914957762, 0.192792639, 0.5927...",0
4,00AlGnzeNVYmilww5OFUw8,"[4.26878363e-01,1.32919753e+00,2.73250163e-01,...","[-0.20881731,-0.40633695,0.23420081,-0.0116102...","[0.426878363, 1.32919753, 0.273250163, 0.84752...",0

In [152]:
#查詢每一首對應到的cluster
count = 0
for k in range(0,len(df2)):
    if df2['cluster'][k] == 8:
        print(k)
        count += 1
print('個數：',count)

7626
8887
個數： 2

In [142]:
df2.loc[582:582]

,track_id,audio_vector,lyrics_vector,vector,cluster
582,0KILpLVmznIF6qWxphtpV3,"[4.98903483e-01,1.48049319e+00,2.12138295e-01,...","[-0.28213796,-0.46033487,0.07417797,0.06127163...","[0.498903483, 1.48049319, 0.212138295, 0.90319...",1

In [153]:
#用ID反查vector
cluster_L = []
for j in range(0,len(record_L)):
    m =  record_L[j]
    row = df2.loc[df2['track_id'] == m]
    cluster = row.iat[0,4]
    cluster_L.append(cluster)
print(cluster_L)

[0, 0, 0, 0, 0]

In [154]:
#直接找出最大次数對應的元素是哪個
max_count = max(cluster_L, key = cluster_L.count)
print('label最多者：',max_count)
if str(max_count) == '0':
    R = 2
    print(R)

0
2

In [155]:
N_STATES = 20
CLUSTERS = ['0','1','2','3','4','5','6','7','8']
EPSILON = 0.9   # 貪婪度 greedy
ALPHA = 0.1     # 學習率
GAMMA = 0.9    # 獎勵遞減值
MAX_EPISODES = 13   # 最大回合數

In [156]:
def build_q_table(n_states, actions):
    table = pd.DataFrame(
        np.zeros((n_states, len(actions))),     # q_table初始全0
        columns=actions,    # columns對應的是行為名稱
    )
    return table

In [157]:
build_q_table(N_STATES, CLUSTERS)

      0    1    2    3    4    5    6    7    8
0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
12  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
13  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
15  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
16  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
17  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
18  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
19  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [158]:
# 在某個state地點，選擇行為
def choose_action(state, q_table):
    state_actions = q_table.iloc[state, :]  # 選出這個state的所有action值
    #print('state_actions:','\n',state_actions)
    if (np.random.uniform() > EPSILON) or (state_actions.all() == 0):  # 非貪婪 or 或者這個 state 還沒有探索過
        action_name = np.random.choice(CLUSTERS)
    else:
        action_name = state_actions.argmax()    # 貪婪模式
    return action_name

In [164]:
def get_env_feedback(max_count, S, A):
    
    if str(max_count) == A:
        R = 1
    else:
        R = 0
        
    if A == '0':  
        if S == N_STATES - 1:
            S_ = 'terminal'
        else:
            S_ = S + 1
    
    elif A == '1':
        if S == N_STATES - 1:
            S_ = 'terminal'
        else:
            S_ = S + 1
            
    elif A == '2':
        if S == N_STATES - 1:
            S_ = 'terminal'
        else:
            S_ = S + 1
    
    elif A == '3':
        if S == N_STATES - 1:
            S_ = 'terminal'
        else:
            S_ = S + 1
    elif A == '4':
        if S == N_STATES - 1:
            S_ = 'terminal'
        else:
            S_ = S + 1
    elif A == '5':
        if S == N_STATES - 1:
            S_ = 'terminal'
        else:
            S_ = S + 1
    elif A == '6':
        if S == N_STATES - 1:
            S_ = 'terminal'
        else:
            S_ = S + 1
    elif A == '7':
        if S == N_STATES - 1:
            S_ = 'terminal'
        else:
            S_ = S + 1
    elif A == '8':
        if S == N_STATES - 1:
            S_ = 'terminal'
        else:
            S_ = S + 1
    
    return S_, R

In [168]:
def rl():
    q_table = build_q_table(N_STATES, CLUSTERS)  # 初始 q table
    for episode in range(MAX_EPISODES):     # 回合

        S = 0   # 回合初始位置
        is_terminated = False   # 是否回合結束
        
        while not is_terminated:
            
            cluster_L = []
            for j in range(0,len(record_L)):
                m =  record_L[j]
                row = df2.loc[df2['track_id'] == m]
                cluster = row.iat[0,4]
                cluster_L.append(cluster)
            #print('聽>28秒之歌曲所屬cluser:',cluster_L)

            #直接找出最大次数對應的元素是哪個
            max_count = max(cluster_L, key = cluster_L.count)
            
            A = choose_action(S, q_table)   # 選行為
            print('A:',A)
            S_, R = get_env_feedback(max_count, S, A)  # 實施行為並得到反饋
            print("S_: ",S_,'|',"R: ",R)
            print()
            
            q_predict = q_table.loc[S, A]    # 估算的(狀態-行為)值
            
            if S_ != 'terminal':
                q_target = R + GAMMA * q_table.iloc[S_, :].max()   #  實際的(狀態-行為)值 (回合沒結束)
            else:
                q_target = R     #  實際的(狀態-行為)值 (回合结束)
                is_terminated = True    # terminate this episode

            q_table.loc[S, A] += ALPHA * (q_target - q_predict)  #  q_table 更新
            S = S_  # 探索者移动到下一个 state

    return q_table

In [171]:
if __name__ == "__main__":
    q_table = rl()
    print()
    print('===== DONE ======')

A: 4
S_:  1 | R:  0

A: 6
S_:  2 | R:  0

A: 3
S_:  3 | R:  0

A: 2
S_:  4 | R:  0

A: 0
S_:  5 | R:  1

A: 6
S_:  6 | R:  0

A: 5
S_:  7 | R:  0

A: 5
S_:  8 | R:  0

A: 7
S_:  9 | R:  0

A: 8
S_:  10 | R:  0

A: 2
S_:  11 | R:  0

A: 3
S_:  12 | R:  0

A: 0
S_:  13 | R:  1

A: 0
S_:  14 | R:  1

A: 4
S_:  15 | R:  0

A: 5
S_:  16 | R:  0

A: 4
S_:  17 | R:  0

A: 6
S_:  18 | R:  0

A: 5
S_:  19 | R:  0

A: 6
S_:  terminal | R:  0

A: 6
S_:  1 | R:  0

A: 2
S_:  2 | R:  0

A: 2
S_:  3 | R:  0

A: 2
S_:  4 | R:  0

A: 6
S_:  5 | R:  0

A: 1
S_:  6 | R:  0

A: 2
S_:  7 | R:  0

A: 5
S_:  8 | R:  0

A: 8
S_:  9 | R:  0

A: 2
S_:  10 | R:  0

A: 0
S_:  11 | R:  1

A: 8
S_:  12 | R:  0

A: 2
S_:  13 | R:  0

A: 1
S_:  14 | R:  0

A: 8
S_:  15 | R:  0

A: 1
S_:  16 | R:  0

A: 3
S_:  17 | R:  0

A: 2
S_:  18 | R:  0

A: 1
S_:  19 | R:  0

A: 1
S_:  terminal | R:  0

A: 4
S_:  1 | R:  0

A: 6
S_:  2 | R:  0

A: 0
S_:  3 | R:  1

A: 1
S_:  4 | R:  0

A: 2
S_:  5 | R:  0

A: 0
S_:  6 | R:  1

A: 2
S_:  7 | R:  0

A: 3
S_:  8 | R:  0

A: 4
S_:  9 | R:  0

A: 8
S_:  10 | R:  0

A: 2
S_:  11 | R:  0

A: 5
S_:  12 | R:  0

A: 0
S_:  13 | R:  1

A: 3
S_:  14 | R:  0

A: 4
S_:  15 | R:  0

A: 0
S_:  16 | R:  1

A: 5
S_:  17 | R:  0

A: 8
S_:  18 | R:  0

A: 8
S_:  19 | R:  0

A: 8
S_:  terminal | R:  0

A: 0
S_:  1 | R:  1

A: 5
S_:  2 | R:  0

A: 8
S_:  3 | R:  0

A: 2
S_:  4 | R:  0

A: 2
S_:  5 | R:  0

A: 0
S_:  6 | R:  1

A: 5
S_:  7 | R:  0

A: 6
S_:  8 | R:  0

A: 2
S_:  9 | R:  0

A: 4
S_:  10 | R:  0

A: 2
S_:  11 | R:  0

A: 8
S_:  12 | R:  0

A: 1
S_:  13 | R:  0

A: 7
S_:  14 | R:  0

A: 4
S_:  15 | R:  0

A: 0
S_:  16 | R:  1

A: 0
S_:  17 | R:  1

A: 6
S_:  18 | R:  0

A: 7
S_:  19 | R:  0

A: 7
S_:  terminal | R:  0

A: 1
S_:  1 | R:  0

A: 6
S_:  2 | R:  0

A: 5
S_:  3 | R:  0

A: 3
S_:  4 | R:  0

A: 5
S_:  5 | R:  0

A: 0
S_:  6 | R:  1

A: 0
S_:  7 | R:  1

A: 0
S_:  8 | R:  1

A: 1
S_:  9 | R:  0

A: 5
S_:  10 | R:  0

A: 8
S_:  11 | R:  0

A: 8
S_:  12 | R:  0

A: 1
S_:  13 | R:  0

A: 2
S_:  14 | R:  0

A: 7
S_:  15 | R:  0

A: 4
S_:  16 | R:  0

A: 1
S_:  17 | R:  0

A: 7
S_:  18 | R:  0

A: 7
S_:  19 | R:  0

A: 8
S_:  terminal | R:  0

A: 0
S_:  1 | R:  1

A: 5
S_:  2 | R:  0

A: 8
S_:  3 | R:  0

A: 0
S_:  4 | R:  1

A: 3
S_:  5 | R:  0

A: 3
S_:  6 | R:  0

A: 5
S_:  7 | R:  0

A: 0
S_:  8 | R:  1

A: 8
S_:  9 | R:  0

A: 6
S_:  10 | R:  0

A: 1
S_:  11 | R:  0

A: 5
S_:  12 | R:  0

A: 0
S_:  13 | R:  1

A: 6
S_:  14 | R:  0

A: 1
S_:  15 | R:  0

A: 0
S_:  16 | R:  1

A: 7
S_:  17 | R:  0

A: 2
S_:  18 | R:  0

A: 1
S_:  19 | R:  0

A: 6
S_:  terminal | R:  0

A: 4
S_:  1 | R:  0

A: 3
S_:  2 | R:  0

A: 4
S_:  3 | R:  0

A: 7
S_:  4 | R:  0

A: 0
S_:  5 | R:  1

A: 4
S_:  6 | R:  0

A: 5
S_:  7 | R:  0

A: 6
S_:  8 | R:  0

A: 8
S_:  9 | R:  0

A: 6
S_:  10 | R:  0

A: 7
S_:  11 | R:  0

A: 8
S_:  12 | R:  0

A: 1
S_:  13 | R:  0

A: 3
S_:  14 | R:  0

A: 6
S_:  15 | R:  0

A: 8
S_:  16 | R:  0

A: 6
S_:  17 | R:  0

A: 5
S_:  18 | R:  0

A: 2
S_:  19 | R:  0

A: 1
S_:  terminal | R:  0

A: 5
S_:  1 | R:  0

A: 0
S_:  2 | R:  1

A: 0
S_:  3 | R:  1

A: 2
S_:  4 | R:  0

A: 7
S_:  5 | R:  0

A: 8
S_:  6 | R:  0

A: 0
S_:  7 | R:  1

A: 3
S_:  8 | R:  0

A: 1
S_:  9 | R:  0

A: 3
S_:  10 | R:  0

A: 7
S_:  11 | R:  0

A: 4
S_:  12 | R:  0

A: 0
S_:  13 | R:  1

A: 2
S_:  14 | R:  0

A: 6
S_:  15 | R:  0

A: 1
S_:  16 | R:  0

A: 4
S_:  17 | R:  0

A: 4
S_:  18 | R:  0

A: 8
S_:  19 | R:  0

A: 6
S_:  terminal | R:  0

A: 8
S_:  1 | R:  0

A: 6
S_:  2 | R:  0

A: 7
S_:  3 | R:  0

A: 1
S_:  4 | R:  0

A: 8
S_:  5 | R:  0

A: 5
S_:  6 | R:  0

A: 7
S_:  7 | R:  0

A: 6
S_:  8 | R:  0

A: 0
S_:  9 | R:  1

A: 4
S_:  10 | R:  0

A: 7
S_:  11 | R:  0

A: 7
S_:  12 | R:  0

A: 2
S_:  13 | R:  0

A: 4
S_:  14 | R:  0

A: 1
S_:  15 | R:  0

A: 0
S_:  16 | R:  1

A: 5
S_:  17 | R:  0

A: 5
S_:  18 | R:  0

A: 0
S_:  19 | R:  1

A: 0
S_:  terminal | R:  1

A: 4
S_:  1 | R:  0

A: 7
S_:  2 | R:  0

A: 5
S_:  3 | R:  0

A: 2
S_:  4 | R:  0

A: 7
S_:  5 | R:  0

A: 8
S_:  6 | R:  0

A: 2
S_:  7 | R:  0

A: 1
S_:  8 | R:  0

A: 0
S_:  9 | R:  1

A: 2
S_:  10 | R:  0

A: 7
S_:  11 | R:  0

A: 1
S_:  12 | R:  0

A: 6
S_:  13 | R:  0

A: 1
S_:  14 | R:  0

A: 7
S_:  15 | R:  0

A: 4
S_:  16 | R:  0

A: 3
S_:  17 | R:  0

A: 7
S_:  18 | R:  0

A: 2
S_:  19 | R:  0

A: 4
S_:  terminal | R:  0

A: 5
S_:  1 | R:  0

A: 2
S_:  2 | R:  0

A: 1
S_:  3 | R:  0

A: 2
S_:  4 | R:  0

A: 2
S_:  5 | R:  0

A: 1
S_:  6 | R:  0

A: 3
S_:  7 | R:  0

A: 0
S_:  8 | R:  1

A: 1
S_:  9 | R:  0

A: 1
S_:  10 | R:  0

A: 3
S_:  11 | R:  0

A: 1
S_:  12 | R:  0

A: 1
S_:  13 | R:  0

A: 0
S_:  14 | R:  1

A: 7
S_:  15 | R:  0

A: 0
S_:  16 | R:  1

A: 5
S_:  17 | R:  0

A: 3
S_:  18 | R:  0

A: 4
S_:  19 | R:  0

A: 2
S_:  terminal | R:  0

A: 7
S_:  1 | R:  0

A: 8
S_:  2 | R:  0

A: 2
S_:  3 | R:  0

A: 1
S_:  4 | R:  0

A: 8
S_:  5 | R:  0

A: 0
S_:  6 | R:  1

A: 7
S_:  7 | R:  0

A: 7
S_:  8 | R:  0

A: 6
S_:  9 | R:  0

A: 2
S_:  10 | R:  0

A: 2
S_:  11 | R:  0

A: 5
S_:  12 | R:  0

A: 1
S_:  13 | R:  0

A: 7
S_:  14 | R:  0

A: 7
S_:  15 | R:  0

A: 3
S_:  16 | R:  0

A: 6
S_:  17 | R:  0

A: 3
S_:  18 | R:  0

A: 1
S_:  19 | R:  0

A: 6
S_:  terminal | R:  0

A: 0
S_:  1 | R:  1

A: 5
S_:  2 | R:  0

A: 0
S_:  3 | R:  1

A: 5
S_:  4 | R:  0

A: 5
S_:  5 | R:  0

A: 8
S_:  6 | R:  0

A: 0
S_:  7 | R:  1

A: 1
S_:  8 | R:  0

A: 1
S_:  9 | R:  0

A: 4
S_:  10 | R:  0

A: 0
S_:  11 | R:  1

A: 2
S_:  12 | R:  0

A: 6
S_:  13 | R:  0

A: 6
S_:  14 | R:  0

A: 0
S_:  15 | R:  1

A: 6
S_:  16 | R:  0

A: 6
S_:  17 | R:  0

A: 3
S_:  18 | R:  0

A: 1
S_:  19 | R:  0

A: 3
S_:  terminal | R:  0


===== DONE ======

In [172]:
print('\r\nQ-table:')
q_table

Q-table:

,0,1,2,3,4,5,6,7,8
0,0.281551,0.000817,0.000000,0.000000,0.011213,0.011213,0.000000,0.009817,0.009817
1,0.109073,0.000000,0.018049,0.009073,0.000000,0.033563,0.026214,0.018049,0.018049
2,0.290295,0.009810,0.009810,0.000000,0.009810,0.011195,0.000000,0.009810,0.002268
3,0.109000,0.043951,0.064756,0.009000,0.000000,0.019295,0.000000,0.009000,0.000000
4,0.214390,0.000000,0.032490,0.024390,0.000000,0.048019,0.000000,0.046341,0.046341
5,0.362540,0.018640,0.000000,0.009000,0.009000,0.018640,0.000000,0.000000,0.042706
6,0.312365,0.000000,0.017112,0.017112,0.000000,0.025218,0.000000,0.041365,0.000000
7,0.288488,0.025588,0.000000,0.000139,0.000000,0.000000,0.000270,0.017363,0.000000
8,0.192924,0.004761,0.000810,0.000000,0.000000,0.000000,0.001539,0.000000,0.001539
9,0.000000,0.009000,0.017100,0.009000,0.024390,0.009000,0.017100,0.000000,0.009000
10,0.195680,0.003719,0.007066,0.005680,0.000000,0.000000,0.000000,0.018105,0.002341
11,0.000000,0.062978,0.033146,0.000000,0.025929,0.056555,0.000000,0.033146,0.063116
12,0.368290,0.045344,0.017100,0.000000,0.000000,0.000000,0.025588,0.000000,0.000000
13,0.194309,0.004309,0.002997,0.001539,0.004309,0.000000,0.011022,0.006802,0.000000
14,0.139051,0.040590,0.000000,0.000000,0.009000,0.000000,0.047880,0.107075,0.000000
15,0.433900,0.009000,0.000000,0.009000,0.017100,0.000000,0.009000,0.000000,0.009000
16,0.100000,0.000000,0.000000,0.000000,0.000000,0.000810,0.002268,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.024390,0.000000,0.000000,0.000000,0.009000,0.000000
18,0.100000,0.017100,0.009000,0.000000,0.009000,0.000000,0.000000,0.000000,0.000000
19,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000