In [1]:
A = 'click'

In [2]:
if A == 'dislike':
     R = -2
elif A == 'click':     # click扣一分
    R = -1
elif A == 'listen':   # listen加一分
    R = 1
elif A == 'like':    # like加兩分
    R = 2

In [3]:
print(R)

-1

In [4]:
import numpy as np
import pandas as pd
import time

In [5]:
#music = ["M1", "M2", "M3", "M4", "M5", "M6", "M7", "M8", "M9", "M10", "M11", "M12", "M13", "M14", "M15", "M16", "M17", "M18", "M19", "M20"]
music = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 ,18, 19, 20]
times = [20, 5, 10, 17, 13, 15, 10, 30, 0, 30, 22, 25, 30, 7, 30, 1, 2, 5, 14, 0]

music_dict = {"music": music, "times": times}

music_df = pd.DataFrame(music_dict)

In [6]:
music_df

    music  times
0       1     20
1       2      5
2       3     10
3       4     17
4       5     13
5       6     15
6       7     10
7       8     30
8       9      0
9      10     30
10     11     22
11     12     25
12     13     30
13     14      7
14     15     30
15     16      1
16     17      2
17     18      5
18     19     14
19     20      0

In [7]:
def action():
    A_List = []
    for i in range (len(music_df)):
        times = music_df["times"][i]
        if times == 0:
            A = 'dislike'
            A_List.append(A)
        elif 0 < times < 10:
            A = 'click'
            A_List.append(A)
        elif 10 <= times < 30:
            A = 'listen'
            A_List.append(A)
        elif times >= 30:
            A = 'like'
            A_List.append(A)
    return A_List

In [8]:
action()

['listen',
 'click',
 'listen',
 'listen',
 'listen',
 'listen',
 'listen',
 'like',
 'dislike',
 'like',
 'listen',
 'listen',
 'like',
 'click',
 'like',
 'click',
 'click',
 'click',
 'listen',
 'dislike']

In [9]:
A_List = action()

In [10]:
A_List[7]

'like'

In [11]:
len(A_List)

20

In [12]:
A = 'like'
realA = 'dislike'
if A == realA:
    print('SAME')
elif A != realA:
    print('DIFFERENT')

DIFFERENT

In [13]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))

In [14]:
frame

          A         B         C         D
a  0.333827  0.788821  0.892002  0.355632
b  0.395479  0.345707  0.849562  0.872988
c  0.140192  0.177731  0.511178  0.284380
d  0.930914  0.075492  0.235150  0.070945

In [15]:
frame.loc['b','A']

0.3954790705583643

In [6]:
def test():
    result = []
    for i in range (10):
        result.append(i)
    return result

In [7]:
test()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
num_list = []
for i in range(1, 11):
    num_list += [i]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
def digit_sum(n):
    n = str(n)
    x = 0
    for y in n:
        x += int(y)
        return x
print(digit_sum(453))

4